<footer class="footer container">
	<address><time datetime="{% year %}">{% year %}</time>&nbsp; © Олег Миторун</address>


	<address>Сайт создан в <a target="_blank" href="https://mitorun.studio/">Mitorun Studio</a></address>
</footer>
