<!doctype html><!-- Сайт template -->
<html lang="{{ _site.siteLang or 'ru' }}" prefix="og: https://ogp.me/ns#">
<head>
	{#{% getBundle "html", "head" %}#}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">


	<title>{% if title %}{{ title if page.url == '/' else title + ' – ' + _site.siteName }}{% else %}{{ _site.siteName }}{% endif %}</title>
	<meta name="description" content="{{ description or _site.siteDescription }}">
	{% if keywords %}
	<meta name="keywords" content="{{ keywords }}">
	{% endif %}
	<meta name="author" content="Mitorun Studio">
	<meta name="generator" content="{{ eleventy.generator }}">


	<link rel="stylesheet" href="/mitosite.css">
	<link rel="icon" sizes="any" href="/favicon.ico">
	<link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="manifest" href="/manifest.json">
	{% if _site.siteThemeColor %}
	<meta name="theme-color" content="{{ _site.siteThemeColor or '#fff' }}">
	{#<meta name="theme-color" media="(prefers-color-scheme: light)" content="#c1f07c">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#9874d3">#}
	{% endif %}


	<link rel="preload" as="image" href="/img/sprite.svg">
	<!--<link rel="preload" as="font" type="font/woff2" href="/fls/inter-100-900-cyrillic.woff2" crossorigin>
	<link rel="preload" as="font" type="font/woff2" href="/fls/inter-100-900-latin.woff2" crossorigin>-->
	<!--<link href="https://v1.screenshot.11ty.dev" rel="preconnect" crossorigin>-->


	<!-- htmlmin:ignore -->
	<!-- Yandex.Metrika counter -->
	<!--<script type="text/javascript"></script>-->
	<!-- /Yandex.Metrika counter -->
	<!-- htmlmin:ignore -->


	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title or _site.siteName }}">
	<meta property="og:description" content="{{ description or _site.siteDescription }}">
	<meta property="og:site_name" content="{{ _site.siteName }}">
	<meta property="og:locale" content="{{ _site.siteLang or 'ru' }}">
	<meta property="og:image" content="https://v1.screenshot.11ty.dev/{% encodeuri _site.siteUrl %}/opengraph/bigger/">
	<!-- <meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630"> -->
	<meta property="og:image:alt" content="Скриншот веб-страницы {{ _site.siteUrl + page.url }}">
	<meta property="og:url" content="{{ _site.siteUrl + page.url }}">
	<link rel="canonical" href="{{ _site.siteUrl + page.url }}">
</head>

<body class="page-{% if pageClass %}{{ pageClass }}{% elif page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">

	<a class="button vhf skip-link" href="#main">Перейти к основному контенту</a>




	{% include "_header.njk" %}




	<main class="main" id="main" tabindex="-1">

		{{ content | safe }}

	</main>




	{% include "_footer.njk" %}




	{% include "_scripts.njk" %}




</body>
</html>
